#Application
application/cache
application/logs
application/config
application/config/!index.html

#Assets
assets/images
assets/download
assets/css/south-street/images/

#Miscellanious
.htaccess
*.sublime-project
*.sublime-workspace
