#Application
application/cache
application/config
application/logs

#Assets
assets/images
assets/download
assets/css/south-street/images/

#Miscellanious
.htaccess
*.sublime-project
*.sublime-workspace
