#logo_bar{
	width: 983px;
}
#logo_bar ul{
	margin-bottom: 4px;
}
#border, #header{
	width: 99.97%;
}
#projects>ul>li{
	padding-bottom: 5px;	
}
#categories{
	overflow: hidden;
}
#categories ul li{
	margin-bottom: 2px;
	margin-top: 2px;
}
.pagination>ul{
	padding-bottom: 8px;
}
.pagination>ul>li.prev,
.pagination>ul>li.next{
	background: #99BE69;
}
.pagination>ul>li.prev:hover,
.pagination>ul>li.next:hover{
	background: #324B10;
}
#social_media li a img{
	margin: 0 0 0 -2px;
}