#header_wrapp,
#footer_wrapp,
 #bg					{overflow: hidden;}

header, footer		{display: block;}

#logo h1>a,
#logo h2>a			{color: rgb(254,254,254);}
#logo h1>a .special	{color: rgb(153,190,105);}

nav>ul>li>h3>a		{color: rgb(250,250,250); border-left: 1px solid rgb(25,25,25);}

nav>ul>li>h3>a:hover{background: rgb(3,3,3); border-top: 5px solid rgb(153,190,105); color: rgb(153,190,105);}
nav>ul>li>h3>a.last	{border-right: 1px solid rgb(25,25,25);}

#bg					{background: rgb(10,10,10); left:0;}

#content			{
						background:transparent;
						filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E1F3F3F3,endColorstr=#E1F3F3F3);
						zoom: 1;
						
					border: 1px solid rgb(209,209,209);border-bottom: 0px solid rgb(209,209,209);
					}
					
footer				{	
						background:transparent;
						filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#800A0A0A,endColorstr=#800A0A0A);
						zoom: 1;
					border-right: 1px solid rgb(25,25,25); border-left: 1px solid rgb(25,25,25);
					color: rgb(252,252,252); 
					}
					
#tweets>li			{background: rgb(30,30,30); outline: 1px solid rgb(45,45,45);}

#social_media			{width: 58px;}
#social_media li:hover	{margin-right: 0; width: 52px;}

#copyleft			{background: rgb(33,33,33); color: rgb(93,93,93);}
#copyleft a			{color: rgb(80,80,80); text-decoration: none;}
#copyleft a:hover	{color: rgb(181,181,181);}


/* PROJECTS LIST */

#projects h1					{margin-bottom: 20px;}
#projects>ul>li					{margin: 0 0 40px; overflow: hidden; padding: 10px 0 0;}

#projects section				{overflow: hidden;}
#projects section a.thumb		{float: left; height: 170px; width: 170px;}
#projects section .summary		{float: left; min-height: 170px; position: relative; width: 540px;}
#projects section .summary h2	{font-size: 1.9em; margin: -10px 0 10px 10px;}
#projects section .summary h2 a	{color: rgb(111,129,87); font-weight: 700; padding: 0;}

#projects section .summary h2 a:hover			{color: rgb(50,75,16);}

#projects section .summary .read_more			{display: block; float: right; margin: 40px 10px 0 0;}
#projects section .summary .read_more a			{background: rgb(153,190,105); color: rgb(50,75,16); padding: 5px;}
#projects section .summary .read_more a:hover	{background: rgb(50,74,16); color: rgb(241,242,242);}

/* PAGINATION */

.pagination>ul					{height: 32px; margin: 10px auto; padding-top: 13px; width: 410px;}
.pagination>ul>li				{}
.pagination>ul>li>a				{line-height: 2em; padding: 3px 10px 10px 10px;}