/* 
	LANDING PAGE STYLES
 */

/*@font-face web symbols*/
@font-face
			{
			font-family: websymbols;
			src: url('websymbols-regular-webfont.ttf'),
			     url('websymbols-regular-webfont.svg'),
			     url('websymbols-regular-webfont.woff')
			}

 /*LAYOUT*/

#content			{padding-top: 40px;}
.list 				{margin-bottom: 30px; overflow: hidden;}
.page_title			{border-bottom: 1px solid rgb(215,215,215); color: rgb(175,175,175); font-size: 0.9em; padding: 0 0 5px; text-transform: uppercase;}

.post 				{border-bottom: 1px solid rgb(205,205,205); overflow: hidden; padding: 40px 0; position: relative;}

.list .summary		{float: left; margin: 15px 0 0 15px; min-height: 150px; width: 500px;}


/*LIST*/
.list article 			{margin: 0;}
.list article h2		{display: block; float: none; font-size: 1.3em; margin: 0 0 0 39px; width: inherit;}
.list article h2>a		{color: rgb(50,74,16); border-radius: 2px; display: inline-block; font-weight: 700; height: inherit; text-decoration: none; width: 500px;}

.list h2>a:hover		{color: rgb(153,190,105);}
.list article .summary 	{margin: 10px 0 0 15px; min-height: 150px;}
.list .summary+a 		{position: absolute; right: 0; top: 40px;}
.list .thumb			{}

.list .meta				{color: rgb(205,205,205); display: block; float: left; height: 140px; position: relative; width: 24px;}
.list .category			{display: block;}
.list .category			{font-weight: normal; text-transform: capitalize;}
.list .date .day 		{font-size: 1.1em; left: 2px; position: absolute; top: 0;}
.list .date .month		{display: block; font-size: 0.7em; height: 20px; text-transform: uppercase; position: absolute; top: 14px;}
/*----*/

.all_articles			{float: right; margin-top: 20px; padding: 3px 6px;}