/* 
	LAYOUT SETTINGS
 */
.spacer			{background: rgba(230,230,230,1); clear: both; display: block; height: 1px; width: 100%;}
#header_wrapp	{background: url('../images/header_bg9.png') repeat-x;}
header, 
footer, 
#content		{background: url('../images/html_gri.png') repeat; height: auto; overflow: hidden; margin: 0 auto; width: 960px;}

header					{height: 300px; position: relative;}

#logo					{float: left; margin: 0 0 0 10px; position:relative; width: 300px; z-index: 10;}
#logo h1>a				{font-size: 2.5em;}
#logo h1>a .special		{color: rgba(153,190,105,1);}
#logo h2				{font-size: 1.85em;}
#logo h1>a,
#logo h2>a				{color: rgba(254,254,254,1); font-family: 'Open Sans', sans-serif; text-decoration: none;}

nav						{float: right; margin: 0 10px 0 0; position: relative; z-index: 10;}
nav>ul					{overflow: hidden;}
nav>ul>li				{float: left;}
nav>ul>li>h3			{text-align: center; text-transform: uppercase;}
nav>ul>li>h3>a			{color: rgba(250,250,250,1); border-left: 1px solid rgba(25,25,25,1); display: inline-block; font-size: 1.4em; font-family: 'Open Sans', sans-serif; padding: 35px 22px 35px 19px; text-decoration: none; width: 90px;}
nav>ul>li>h3>a.last		{border-right: 1px solid rgba(25,25,25,1);}
nav>ul>li>h3>a:hover	{background: rgba(3,3,3,1); border-top: 5px solid rgba(153,190,105,1); color: rgba(153,190,105,1); padding-top: 40px;}

#bg						{background: rgba(10,10,10,0.9); height: 100px; position: absolute; top: 2px; width: 100%; z-index: 1;}

#content				{background: rgba(242,242,242,0.9); margin-top: -150px; padding-top: 10px; position: relative; z-index: 100;}
#content>article		{margin: 0 0 0 10px; float: left; width: 340px;}
#content>article>p		{font-size: 1.6em; margin: 10px 0;}

#content #slider		{float: right; margin: 0 10px 0 0; position: relative; width: 580px;}

#content>aside					{clear:both; width: 100%;}
#content aside>ul				{margin: 10px 10px 60px; padding: 10px 0; overflow: hidden;}
#content aside>ul>li			{float: left; outline: 0px dotted blue; width: 300px;}
#content aside>ul>li>h4			{font-size: 1.2em;padding: 5px 0; text-transform: uppercase;}
#content aside>ul>li>a			{display: inline-block; height: 110px; outline: 0px dotted green; width: 300px;}
#content aside>ul>li.space		{margin-left: 20px;}

#footer_wrapp			{background: url('../images/header_bg8.png') repeat-x; color: rgba(252,252,252,1);}
footer					{height: 290px; margin-top: -50px; padding-top: 10px;}
#copyleft				{background: rgba(33,33,33,1); color: rgba(93,93,93,1); font-size: 0.8em; height: 15px; text-align: center;}
#copyleft span			{transform:rotate(180deg); -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg);-o-transform:rotate(180deg); filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
/* *{outline: 1px dotted blue;} */