 /*
	LAYOUT SETTINGS
 */

 /* GENERAL */

body,p, ol,ul,li,a,
span, div, section, 
table, tr,th,td, form,
fieldset,legend,label 		{font-size: 1em; font-weight: normal;}

h1,h2,h3,h4,h5,h6			{font-weight: 700;}
p							{color: rgb(68,68,68); font-family: "Georgia, serif"; font-size: 1.2em; line-height: 1.5em;}
li							{list-style: none;}

pre							{margin: 20px 0; padding: 10px 0;}

article section			{overflow: hidden;}

article p+p,
article ul+p			{margin-top: 30px;}

article ul 				{padding-left: 40px;}

article ul li			{color: rgb(68,68,68); font-family: "Georgia, serif"; font-size: 1.2em; list-style: disc; margin: 10px;}

#header_wrapp header,
#footer_wrapp footer, 
#content_wrapp #content	{margin: 0 auto; overflow: hidden; width: 960px;}

#header_wrapp			{background: url('../images/header_bg.png') repeat-x; overflow: hidden;}

#content_wrapp			{clear: both;}

#header_wrapp header	{height: 100px; position: relative;}

#content				{ padding-top: 50px;}

.main 					{float: left; width: 710px;}

.sidebar 				{float: right; width: 250px;}


/*----------*/

/*HEADER LOGO*/

#logo					{background: url('../images/beta.png') no-repeat 21px 22px;float: left; margin: 0 0 0 10px; position:relative; width: 240px; z-index: 10;}
#logo h2 				{line-height: 2.5em;}
#logo h1>a				{font-size: 2.5em;}
#logo h2>a				{font-size: 1.85em; padding: 0 2px;}
#logo h1>a,
#logo h1>a .special,
#logo h2>a				{color: rgb(254,254,254); font-family: 'Open Sans', sans-serif; font-weight: 700; text-decoration: none;}
#logo h1>a .special		{color: rgb(153,190,105); font-weight: 700;}

/*----------*/

/*HEADER NAV*/
nav						{float: right; position: relative; z-index: 110;}
nav>ul					{overflow: hidden;}
nav>ul>li				{float: left;}
nav>ul>li>h3			{border-left: 1px solid rgb(25,25,25); text-align: center; text-transform: uppercase;}
nav>ul>li>h3>a			{color: rgb(250,250,250);  display: inline-block; font-size: 1.4em; font-family: 'Open Sans', sans-serif; font-weight: 700; padding: 30px 22px 40px 19px; text-decoration: none; width: 90px;}
nav>ul>li>h3>a.last		{border-right: 1px solid rgb(25,25,25);}
nav>ul>li>h3>a:hover,
nav>ul>li>h3>a.selected	{border-top: 5px solid rgb(153,190,105); color: rgb(153,190,105); padding: 25px 22px 35px 19px;}

/*----------*/

.main>.col_title,
.widget h3,
.tile>.col_title		{border-bottom: 1px solid rgb(215,215,215); color: rgb(175,175,175); font-size: 0.9em; margin-bottom: 10px; padding: 0 0 5px; text-transform: uppercase;}

/*FOOTER*/

#footer_wrapp			{background: url('../images/footer_bg.png') repeat-x; }
#footer_wrapp footer	{/*background: rgb(10,10,10); border-right: 1px solid rgb(25,25,25); border-left: 1px solid rgb(25,25,25); */color: rgb(252,252,252);  height: 299px; padding-top: 0px; position: relative;}

footer article			{width: 960px;}
footer article section	{float: left; margin-left: 30px;}
footer section h4		{border-bottom: 2px solid rgb(153,190,105); font-size: 1.2em; margin: 15px 0 15px; padding-bottom: 3px;}

footer article ul 	 	{overflow: hidden; padding: 0;}
footer article ul li 	{list-style: none;}

/*TWEETS*/

#tweets					{height: 295px;}

#tweets p				{font-family: Helvetica, sans-serif;}

/*-----*/

/*SUBSCRIBE*/

#footer_wrapp .subscribe 		{min-height: inherit; width: 370px;}
#footer_wrapp .subscribe label 	{color: rgb(190,190,190); margin-bottom: 10px;}

/*---------*/

/*FAVORITES*/

#favorites				{margin-top: 20px; width: 370px;}
#favorites li			{font-size: 1em; float: left; margin: 0 5px 5px 5px; width: 175px;}
#favorites li a			{color: rgb(190,190,190); text-decoration: none;}
#favorites li a:hover	{color: rgb(153,190,105);}

/*---------*/

/*SOCIAL MEDIA*/

#social_media			{position: absolute; top: 20px; right: 0; width: 65px;}
#social_media li		{float: right; height: 52px; margin: 0 0 20px 2px; width: 53px;}
#social_media li>a		{height: 52px; width: 52px;}
#social_media li:hover	{margin-right: 10px; width: 52px;}

/*-----------*/

/*COPYRiGHT*/

#copyleft p				{background: rgb(33,33,33); color: rgb(90,90,90); font-family: helvetica, arial, sans-serif; font-size: 0.7em; margin-top: 1px; padding: 5px 0; text-align: center;}
#copyleft a				{color: rgb(90,90,90); text-decoration: none;}
#copyleft a:hover		{color: rgb(153,190,105);}

/*---------*/

/* WIDGET */

.widget					{margin: 0 10px 15px;}
.widget .col_title		{margin: 15px 0;}
.widget a 				{color: rgb(0,0,0); display: inline-block; text-decoration: none;}

/*--------*/

/*BTN*/
.btn 		{background: rgb(153,190,105); border-radius: 2px; color: rgb(255,255,255); display: inline-block; font-weight: bold; padding: 9px 12px; text-decoration: none;}
.btn:hover	{background: rgb(205,205,205); color: rgb(105,105,105);}
/*---*/


/*BLOCKQUOTE*/

blockquote 		{border-left: 3px solid rgb(205,205,205); color: rgb(105,105,105); font-family: Georgia, Times, 'Times New Roman', serif;; font-style: italic; line-height: 1.6em; margin: 20px 10px 20px 55px; padding: 10px;}

blockquote a:hover		{color: rgb(175,175,175);}
blockquote a	{color: rgb(153,190,105); text-decoration: none;}
/*---------*/


/*ERROR 404*/

.error_404		{min-height: 200px;}

/*--------*/