/*
|--------------------------------------------------------------------------
| CSS 2.0/3.0
|--------------------------------------------------------------------------
|@author	Daniel Mois
|@date		06.10.2011
|
|--------------------------------------------------------------------------
| COLORS
|--------------------------------------------------------------------------
|	#737a7f						#343434
|	rgb(153,190,105)			#f6f9f9
|	#4d4e53						#e6e6e6
|	#84878f						#abc884
|	rgb(252,252,252)			rgb(50,75,16)
|	#616265
|--------------------------------------------------------------------------
|FONTS
|--------------------------------------------------------------------------
|	font-family: 'Muli', sans-serif;
|	font-family: 'Open Sans', sans-serif;
|
*/

/* PROJECTS LIST */

#projects h1					{margin-bottom: 20px;}
#projects>ul>li					{margin: 0 0 40px; overflow: hidden; padding: 10px 0 0;}

#projects section				{overflow: hidden;}
#projects section a.thumb		{float: left; height: 170px; width: 170px;}
#projects section .summary		{float: left; min-height: 170px; position: relative; width: 540px;}
#projects section .summary h2	{font-size: 1.9em; margin: -10px 0 10px 10px;}
#projects section .summary h2 a	{color: rgba(50,75,16, 0.7); font-weight: 700; padding: 0;}

#projects section .summary h2 a:hover			{color: rgb(50,75,16);}

#projects section .summary .read_more			{display: block; float: right; margin: 40px 10px 0 0;}
#projects section .summary .read_more a			{background: rgb(153,190,105); color: rgb(50,75,16); padding: 5px;}
#projects section .summary .read_more a:hover	{background: rgb(50,74,16); color: rgb(241,242,242);}

/* PAGINATION */


.pagination						{clear: both;}
.pagination						{overflow: hidden;}
.pagination>ul					{height: 32px; margin: 10px auto; padding-top: 13px; width: 410px;}

.pagination>ul>li				{background: rgb(153,190,105); display: inline; margin-right: 10px; border: 1px solid rgb(241,242,242); padding: 5px 0;}

.pagination>ul>li:hover, 
.pagination>ul>li.active		{color: rgb(252,252,252); background: rgb(50,75,16);}

.pagination>ul>li:first-child:hover,
.pagination>ul>li:last-child:hover
/*  .pagination>ul>li.prev:hover, 
 .pagination>ul>li.next:hover */	{background: rgb(50,75,16); cursor: pointer;}
 
.pagination>ul>li,
.pagination>ul>li.prev,
.pagination>ul>li.next			{color: #000; text-align: center; width: 30px;}

.pagination>ul>li>a				{color: #000; padding: 10px;}
.pagination>ul>li.active a,
.pagination>ul>li>a:hover		{color: rgb(252,252,252);}

/* PROJECT */

article.project					{position: relative;}
.project .project_header		{height: 170px; left: 200px; position: absolute; top: -2px;}
.project .project_title			{display: block;  margin:  0 10px 10px 0;}
.project .project_title h1		{color: rgba(50,75,16, 0.7); font-family: 'Open Sans', sans-serif; font-size: 2em;}
.project .project_meta dt,
.project .project_meta dd		{display: inline-block; margin: 5px 0;}
.project .project_meta dt		{width: 70px;}
.project .project_meta dd		{width: 400px;}

.project .project_meta dd>span.tag a		{color: rgb(222,222,222); display: inline-block; padding: 3px 5px;}
.project .project_meta dd>span.tag a		{background: rgb(153,190,105);}
.project .project_meta dd>span.tag a:hover	{background: rgb(50,74,16); cursor: pointer;}

.project .project_body			{display: inline-block; margin-top: 20px;}
.project_body>p:last-child		{margin-bottom: 40px;}


/* SECTION HEADER */

.section_heading				{background: rgb(153,190,105); color: rgb(50,75,16);	margin-bottom: 10px; padding: 10px;	text-transform: uppercase;}

#categories.widget li			{background: rgb(153,190,105); margin: 6px 5px; overflow: hidden;}
#categories.widget li:hover		{background: rgba(50,74,16,0.9); /* -moz-border-radius: 3px; border-radius: 3px; */}
#categories.widget li a			{color: rgb(50,75,16); height: 20px; padding: 8px 5px 8px 10px; float: left; width: 100%;}
#categories.widget li a:hover	{color: rgb(252,252,252);}

#categories.widget li a span.count			{background: rgb(50,75,16); color: rgb(153,190,105); -moz-border-radius: 20px; border-radius: 20px; float: right; margin: 0 15px 0 0;	padding: 0 2px 1px;	text-align: center;	min-width: 26px;}
#categories.widget li a:hover span.count	{background: rgb(153,190,105); color: rgb(252,252,252);}

#related.widget li 			{background: rgb(153,190,105);height: 60px; margin: 6px 5px; }
#related.widget li a		{color: rgb(50,75,16); display:block; height: 40px; padding: 10px 5px;}
#related.widget li a:hover	{color: rgb(252,252,252);}
#related.widget li:hover	{background: rgba(50,74,16,0.9);}